<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>后台管理系统</title>
    <meta name="author" content="DeathGhost"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ad_static/css/style.css' %}">
    <!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
    <script src="{% static 'ad_static/js/jquery.js' %}"></script>
    <script src="{% static 'ad_static/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script>

        (function ($) {
            $(window).load(function () {

                $("a[rel='load-content']").click(function (e) {
                    e.preventDefault();
                    var url = $(this).attr("href");
                    $.get(url, function (data) {
                        $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
                        //scroll-to appended content
                        $(".content").mCustomScrollbar("scrollTo", "h2:last");
                    });
                });

                $(".content").delegate("a[href='top']", "click", function (e) {
                    e.preventDefault();
                    $(".content").mCustomScrollbar("scrollTo", $(this).attr("href"));
                });

            });
        })(jQuery);

        function productQuery() {
            product_classify = $('.select').val();
            query_word = $('.textbox').val();
            console.log(product_classify)
            console.log(query_word)
            location.href = '/admin/recycle_bin/?classify=' + product_classify + '&query_word=' + query_word;
        }
    </script>
</head>
<body>

{% include 'common.html' %}

<section class="rt_wrap content mCustomScrollbar">
    <div class="rt_content">
        <div class="page_title">
            <h2 class="fl">产品回收站示例</h2>
            <a class="fr top_rt_btn">返回上一页</a>
        </div>
        <section class="mtb">
            <select class="select">
                <option>请选择分类</option>
                {% for obj in goods_classify %}
                    <option>{{ obj.goods_classify }}</option>
                {% endfor %}
            </select>
            <input type="text" class="textbox textbox_225" placeholder="输入产品关键词或产品货号..."/>
            <input type="button" value="查询" class="group_btn" onclick="productQuery()"/>
        </section>
        <table class="table">
            <tr>
                <th>缩略图</th>
                <th>产品名称</th>
                <th>产品分类</th>
                <th>货号</th>
                <th>单价</th>
                <th>单位</th>
                <th>精品</th>
                <th>热销</th>
                <th>新品</th>
                <th>操作</th>
            </tr>
            {% for obj in goods_list %}
                {% ifequal obj.good.is_delete 1 %}
                    <tr>
                        <td class="center"><img src="/media/{{ obj.good.goods_pic }}" width="50" height="50"/></td>
                        <td class="center" style="text-align: center">{{ obj.good.goods_name }}</td>
                        <td class="center">{{ obj.good.goods_classify.goods_classify }}</td>
                        <td class="center">{{ obj.good.goods_ID }}</td>
                        <td class="center"><strong class="rmb_icon">{{ obj.good.goods_price }}</strong></td>
                        <td class="center">{{ obj.good.goods_specification }}</td>
                        <td class="center"><a title="{{ obj.title1 }}" class="link_icon">&#{{ obj.label1 }};</a></td>
                        <td class="center"><a title="{{ obj.title2 }}" class="link_icon">&#{{ obj.label2 }};</a></td>
                        <td class="center"><a title="{{ obj.title3 }}" class="link_icon">&#{{ obj.label3 }};</a></td>
                        <td class="center">
                            <a href="{% url 'admin:product_recover' %}?classify={{ classify }}&query_word={{ query_word }}&id={{ obj.good.id }}&page={{ page }}" title="恢复到产品列表" class="link_icon">&#47;</a>
                            <a href="{% url 'admin:product_remove' %}?classify={{ classify }}&query_word={{ query_word }}&id={{ obj.good.id }}" title="彻底删除" class="link_icon">&#100;</a>
                        </td>
                    </tr>
                {% endifequal %}
            {% endfor %}
        </table>
        <aside class="paging">
            <a href="{% url 'admin:recycle_bin' %}classify={{ classify }}&query_word={{ query_word }}">第一页</a>
            {% if goods_list.has_previous %}
            <a href="{% url 'admin:recycle_bin' %}?classify={{ classify }}&query_word={{ query_word }}&page={{ goods_list.previous_page_number }}">上一页</a>
            {% endif %}
            {% for i in goods_list.paginator.page_range %}
            <a href="{% url 'admin:recycle_bin' %}?classify={{ classify }}&query_word={{ query_word }}&page={{ i }}">{{ i }}</a>
            {% endfor %}
            {% if goods_list.has_next %}
            <a href="{% url 'admin:recycle_bin' %}?classify={{ classify }}&query_word={{ query_word }}&page={{ goods_list.next_page_number }}">下一页</a>
            {% endif %}
            <a href="{% url 'admin:recycle_bin' %}?classify={{ classify }}&query_word={{ query_word }}&page={{ goods_list.paginator.num_pages }}">最后一页</a>
        </aside>
    </div>
</section>
</body>
</html>
